<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(pageTitle=${pageTitle})}">
    <meta charset="UTF-8">
    <title>Entry</title>
</head>
<body>
<!-- Outer container to center and limit width -->
<div class="container">
    <!-- Include Navigation Panel Fragment -->
    <div th:replace="~{fragments/navigation :: navigation-panel(pageType=${pageType}, currentItem=${currentItem}, persons=${persons}, categories=${categories}, years=${years}, filteredPersons=${filteredPersons}, filteredCategories=${filteredCategories}, filteredYears=${filteredYears}, counts=${counts})}"></div>

    <!-- Content Section -->
    <div class="content">
        <h1 th:text="${title}"></h1>
        <div class="date-created">
            <span class="metadata-title">Date created:</span>
            <span th:text="${#temporals.format(dateCreated, 'dd. MM. yyyy')}"></span>
        </div>
        <div class="categories" th:if="${categories.size() > 0}">
            <span class="metadata-title">Categories:</span>
            <a class="category" th:each="category : ${categories}" 
               th:href="${#strings.concat('category_', #strings.replace(category, ' ', '_'), '.html')}" 
               th:text="${category}">
            </a>
        </div>
        <div class="persons" th:if="${persons.size() > 0}">
            <span class="metadata-title">Persons:</span>
            <a class="person" th:each="person : ${persons}" 
               th:href="${#strings.concat('person_', #strings.replace(person, ' ', '_'), '.html')}" 
               th:text="${person}">
            </a>
        </div>
        <hr>

        <div class="entry-body">
            <span th:if="${#strings.isEmpty(body)}">[Empty body]</span>
            <span th:unless="${#strings.isEmpty(body)}" th:utext="${body}"></span>
        </div>
        <div class="attachments" th:if="${attachments.size() > 0}">
            <hr>
            <div class="metadata-title">Attachments:</div>
            <span class="attachment" th:each="attachment : ${attachments}">
                <a th:href="${attachment.absoluteSourcePath}" th:text="${attachment.name}"></a>
            </span>
        </div>
    </div>
</div>
</body>
</html>